<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/addPost.css">
    <title><%=locals.title%></title>
</head>
<body>
    <!-- nav bar -->

    <!-- seaarch bar -->
    <!-- <%- include('../partials/search.ejs')%> -->
    <section class="search_section">
        
        <form action="" method="" class="search_form">
            <input type="search" placeholder="Search your interest here">
            <button type="submit">Search</button>
        </form>
       
    
        <div class="drop_down">
            <button class="drop_down">Timeline</button>
            <div class="drop_down_content">
                <a href="">Before 17th Century</a>
                <a href="">17th-18th Century</a>
                <a href="">18th-19th Century</a>
                <a href="">After 19th Century</a>
            </div>
    </section>

    <!-- footer -->
</body>
</html>
