<footer>
    <div class="footer_container">
      <div class="footer_college">
        <h4>K J Somaiya Institute of Technology</h4>
        <h5>Computer Engineering Department</h5>
        <h6>2023-24</h6>
      </div>
      <div class="developers_details">
  
        <h4><b>Guided By:</b></h4>
        <h3>Prof Pradnya Patil</h3>
  
        <h4><b>Developed By:</b></h4>
        <div class="names">
          <div class="individual_name">
            <h5>Kinjal Patel</h5>
            <a href="https://www.linkedin.com/in/kinjal-patel-bb441a279/" target="_blank">
            <img src="/uploads/Linkedin_icon.svg" alt="" class="linkedIn">
          </a>
          </div>
          <div class="individual_name">
            <h5>Saniya Patil</h5>
            <a href="https://www.linkedin.com/in/saniya-patil-847b70287/" target="_blank">
            <img src="/uploads/Linkedin_icon.svg" alt="" class="linkedIn"></a>
          </div>
          <div class="individual_name">
            <h5>Mohit Patel</h5>
            <a href="https://www.linkedin.com/in/mohit-patel-5135552a3/" target="_blank">
            <img src="/uploads/Linkedin_icon.svg" alt="" class="linkedIn">
          </a>
          </div>
          <div class="individual_name">
            <h5>Yash Ranbhare</h5>
            <a href="https://www.linkedin.com/in/yash-ranbhare-a3909724b/" target="_blank">
            <img src="/uploads/Linkedin_icon.svg" alt="" class="linkedIn">
          </a>
  
          </div>
  
        </div>
      </div>
    </div>
  </footer>