<section class="search_section">
        
    <form action="/repository/search" method="post" role="" class="search_form">
        <input type="search" aria-label="Search" id="searchInput" name="searchTerm" placeholder="Search your interest here">
        <!-- <button type="submit">Search</button> -->
        <img src="/images/icons8-search-50.png" style="height: 30px" alt=".. ">
    </form>
     


</section>