*{
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    color: white;
    background-color:black;
    
}


    #header {
        height: 100vh;
        width: 100vw;
        background-image: url(back.jpg);
        background-size: cover;
        background-position: center;
    }
    #header:before { content: ""; 
        position: absolute; 
        top: 100px; 
        left: 25px; 
        width: 50%;
        height:75%;  
        background-image: url(2.png); 
        background-size: cover;
        background-position: center; 
        border-radius: 10px;
    } 

/* log in form css */

        .login{
            padding-top: 2rem;
        }
        h4{
            text-align: center;
        }
        .loginForm{
            
            background: linear-gradient(200.6deg, rgba(255, 78, 81, 0.95) 9.2%, rgb(249, 212, 35) 100.2%);
            width: 40%;
            margin: auto;
            border: 1px solid grey;
            border-radius: 1rem;
            padding: 3rem 1rem;
            height: 60%;
        }
        .loginForm label{
            margin: 0.4rem 0;
            text-align: center;
        }
        .username_input
        {
            margin-bottom:1rem ;
        }
        .username_input,
        .password_input{
            height: 2rem;
            width:100%;
            border: 2px solid grey;
            border-radius: 5px;
            outline: none;
        }
        .login-btn{
            padding: 0.5rem;
            border: 1px solid rgb(191, 73, 53);
            border-radius: 7px;
            margin-top: 2rem;
            width: 20%;
            background-color: rgb(237, 60, 47);
            left: 50%;
            position: relative;
            transform: translate(-50%);
        
        }
        .login-btn:hover{
            background-color: rgb(191, 73, 53);
            box-shadow:2px 2px 2px rgba(0,0,0,0.5) ;
        }

/* log in form ends */

/* nav bar starts */
    .navigation{
        left: 0;
        top: 0;
        position: relative;
        z-index: 10;
        width: 100%;
       
    }
    .navbar{
        background: linear-gradient(to right, #ffc300, #ff7b00);
        z-index: 11;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        
        height: 9%;
        position:fixed;
        width: 100%;
        top: 0;
        left: 0;
        /* font-size: 1.3rem; */
        z-index: 10;
        padding: 0 1rem;
    }
    
    .title{
        width: 70%;
        display: flex;
        justify-content: center;
        align-items:center;
        font-size: 2rem;
        text-decoration: none;
        color: black;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        transition: all ease 0.3s;
        text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
    color: #000000;
    }
    .title:hover{
        text-decoration: none;
        letter-spacing: 0.3rem;
        color: black;
        scale: 1.02;
    
    }
    
    nav ul li{
        display: inline;
        list-style: none;
        margin: 0px 20px;
        margin-right: 10px;
        /* padding: 0.2rem; */
       
    }
    
    nav ul li a{
        color: black;
        text-decoration: none;
        position: relative;
    }
    nav ul li a:hover{
        border-radius: 5px;
        color: #000000;
        background-color: rgb(247, 218, 137);
        text-decoration: none;
        
    }
    
    .collapse ul li a{
        font-size: 1.2rem;

    }
    nav ul li a::after{
        content: '';
        width: 0%;
        height: 3px;
        background: black;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }
    
    nav ul li a:hover::after{
        width: 100%;
      
            
        
        
    }
    
    .logo{
        position: relative;
        margin-left: 2rem;
        width: 6%;
        height: 100%;
        /* padding-left: 2rem; */
    }
    
    .logo:hover{
        cursor: pointer;
    }
    
    .header-text {
        padding-top: 250px;
        padding-left: 52%;
        font-size: 45px;
        background-image: linear-gradient(to right, #f7b267, #f25c54);
    
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    
    /* navbar ends */
    



.pagination{
    padding-top: 2rem;
}

/* =======search bar================ */
.search_section {
    /* top: 3rem; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 14vh;
    height: auto;
    width: 95%;
    margin: auto;
    gap: 2rem;
}

.search_form {
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
}

.search_form input {
    outline: none;
    width: 105%;
    height: fit-content;
    border-radius: 7px;
    border: 1px solid rgb(246, 91, 7);
    background-color: rgb(240, 238, 235);
    font-size: 1.2em;
}

.search_form button {
    width: 100%; 
    max-width: 200px;
    height: 100%;
    padding: 2px 2px;
    border: none;
    border-radius: 7px;
    background-color: tomato;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}



.drop_down{
    width: 20%;
    
}
.drop_down button{
    width: 100%;
    background-color: #ff6337;
    padding: 2.05px 1.1rem;
    font-size: 1.2em;
    font-stretch: expanded;
    font-weight: 600;
}

.drop_down_content a{
    display: block;
    text-decoration: none;
    color:black;
    padding: 10px 3px;
    transition: all ease 0.3s;
    margin: 3px;
}



.drop_down button{
    padding:0.5em 1.2em;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid black;
    
}

.drop_down_content
{
    display: none;
    position: absolute;
    box-shadow: 2px 2px 2px lightgray;
    background-color: rgb(240, 238, 235);
    transition: all ease ;
    z-index: 10;
}

.drop_down:hover .drop_down_content{
    display: block;
    z-index: 10;
}

.drop_down a:hover {
    background-color:  rgb(180, 179, 177);
    scale: 1.1;
}


.admin_container{
    display: flex;
    width: 80%;
    margin :auto;
    column-gap: 10rem;
}

.post_container button{
    padding: 1.5rem;
    border: none;
    border-radius: 0.8rem;
    background-color: #f25c54;
}

.post_container button:hover{
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}

.post_heading{
    width: 90%;
    margin:auto;
    display: flex;
    justify-content: space-between;
}

/* post container */
.posts_container{
    width: 95%;
    position: relative;
    margin: auto;
    align-items: center;
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
    grid-gap:2rem;
    column-gap: 1rem;
    z-index: 5;
    padding-top: 3rem;
}

.posts_container a{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.posts{
    position: relative;
    width: 100%;
    height: 17rem;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #fbb040;
    z-index: 5;
    overflow: hidden;
    box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5s;
}

.posts img{
    position: relative;
    height: 70%;
    border-radius: 15px;
    transition: all ease 0.5s;
}

.posts:hover{
    scale: 1.01;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.2);
}

.posts:hover .card-img-top{
    scale: 1.07;
}

.posts{
    max-width: 22rem;
    height: 15rem;
    border: 1px solid black;
    border-radius: 15px;
    background-color: #fbb040;
    z-index: 5;
    overflow: hidden;
    box-shadow: 3px 3px 16px rgba(0, 0, 0, 0.2);
    transition: all ease 0.5;
    
}
.posts img{
    position: relative;
    height: 70%;
    border-radius: 15px;
    transition: all ease 0.5s;
}

.posts:hover{
    scale: 1.01;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.2);
}

.posts:hover .card-img-top{
    scale: 1.07;
}
.card_body{
    position: relative;
    width: 100%;
    
}

.card-title{
    color: black;
    text-align: left;
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden; /* Hide overflow content */
    text-overflow: ellipsis;
}
.posts p{
    margin-bottom: 0;
    
}
@media(max-width:580px){
    .create_button{
        padding: 0.4rem 1rem;
    }
    .drop_down button{
        font-size: 0.7em;
    }
    .search_section{
        margin-bottom: 20px;
    }
    .admin_heading{
        margin-bottom: 20px;

    }
    .posts_container{
    
    /* grid-template-columns: repeat(1, 1fr); */
    grid-template-columns:1fr;
    
        
    }
}
@media screen and (min-width:580px) and (max-width: 660px)
{
    .create_button{
        padding: 0.4rem 1rem;;
    }
    .drop_down button{
        font-size: 0.7em;
    }
    .posts_container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        column-gap: 1rem;
        width: 90%;
        margin: auto;
        width: fit-content;

    }
    .posts_container a{
        width: 100%;
    }
    .admin_posts{
        position: relative;
        width:18rem;

    }
}


@media screen and (min-width:660px) and (max-width: 760px){
    .posts_container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        column-gap: 1rem;
        width: 90%;
        margin: auto;
        width: fit-content;

    }
    .posts_container a{
        width: 100%;
    }
    .admin_posts{
        position: relative;
        width:80vw;

    }
}

@media screen and (min-width:760px) and (max-width: 930px){
    .posts_container{
    padding-top: 15px;
    margin: auto;
    width: 85%;
    column-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns:2fr; */
    align-items: center;
    justify-items: center;
        
    }
    .search_section{
        top: 11vh;
    }
    .admin_posts{
        width:100vw;

    }
}

/* post.ejs */

.showPost_heading{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content:space-between;
    column-gap: 9rem;


}

.showPost_operators{
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    column-gap: 10px;
}

.update_input,
.delete_input{
    border: none;
    outline: none;
    /* padding: 0.3rem 0.2rem; */
    width :100%;
    border-radius: 7px;
    padding-top: 0.2rem;
}


.back-btn{
    color: black;
    text-decoration: none;
    border-radius: 8px;
    top: 1rem;
    position: relative;
 
    padding: 1rem 1rem;
    background-color: #d1cebd;
    margin-bottom: 0.5rem
}

.showPost_operators form{
    width :50%;
}
.post_title{
    margin: 0.5rem 0;
    text-align: left;
    margin-bottom:10px;
   
}

.showPost_container{
    position: relative;
    border: 1px solid #d1cebd ;
    top: 15px;
    width: 80%;
    margin:auto;
    padding: 0 1.5em;
}
.dates{
    text-align: end;
    font-weight: 200;
}


.post_image_container{
    margin: 1rem 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    height: 50%;
}
.post_image{
    width: 100%;
    height: 100%;
}

.post_description{
    text-align: justify;
}



/* footer starts */

footer{
    padding-top: 5.5rem;
    width: 100%;
    /* background-color:#eddcaf ; */
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.footer_container{
    box-shadow: 0px -2px 8px rgba(0,0,0,0.7);
    /* border-top-right-radius: 4rem;
    border-top-left-radius: 4rem; */
    padding-top: 2rem;
    width: 100%;
    text-align: center;
    background-color: #f3c15e;
    background-color: linear ;
}

.footer_college h4{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.footer_college h5{
    padding-top: 1rem;
}

.developers_details h4{
    padding-top: 1rem;
    font-size: 1.5rem;
}
.developers_details h3{
    font-size: 1.2rem;
}
.names{
    justify-content:space-evenly;
    width: 70%;
    margin: auto;
    display: flex;
}

.individual_name img{
    position: relative;
    width: 25%;
    height: 25%;
    transition: all ease 0.2s;
}

.individual_name img:hover{
    transform: translateY(-7px);
}
/* footer ends */


@media  screen and (min-width:586px)and (max-width:707px){
    .website_title{
        /* font-size: ; */
    }
}