<div class="author">
   <h1 class="'author_heading" style="align-items: center; justify-content: center; display: flex;">Search result </h1>
</div>
<section class="posts_container">
    <% data.forEach(post =>{ %>

        <a href="/repository/post/<%= post._id%>" class="btn btn-primary" style="background:none; border: none;"> 
        <div class="posts" >
            <!-- <img src=" class="card-img-top" alt="..."> -->
            <img src="/<%= post.postImage%>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> <%=post.title%> </h5>
               
            </div>
        </div>
    </a>
    <%})%>
</section>