
html {
    scroll-behavior: smooth;
}
.body{
    width: 100%;
    height: 100%;
}


.navbar{
    background: linear-gradient(to right, #ffc300, #ff7b00);
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 9%;
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0 1rem;

}

.title{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 2rem;
    text-decoration: none;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all ease 0.3s;
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
color: #000000;
}
.title:hover{
    text-decoration: none;
    letter-spacing: 0.3rem;
    color: black;
    scale: 1.02;

}

nav ul li{
    display: inline;
    list-style: none;
    margin: 0px 20px;
    margin-right: 10px;
    padding: 0.2rem;
   
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a:hover{
    color: #000000;
    /* background-color: aliceblue; */
    text-decoration: none;
    
}


nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
  
        
    
    
}

.logo{
    position: relative;
    margin-left: 2rem;
    width: 6%;
    height: 100%;
    /* padding-left: 2rem; */
}

.logo:hover{
    cursor: pointer;
}

.header-text {
    padding-top: 250px;
    padding-left: 52%;
    font-size: 45px;
    /* background-image: linear-gradient(to right, #f7b267, #f25c54); */

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* navbar ends */


/* home page title */


.homePage{
    /* position: relative;
    width: 100%;
    height: 100vh; */

/* new css */
    
/* position: fixed; */
top: 0;
left: 0;
width: 100%;
height: 100vh;
background-image: url("bgimg2_1_1024x499.jpeg"); /* Replace 'your-image-url.jpg' with the URL of your background image */
background-size:cover;
background-clip: content-box;
backface-visibility: visible;
background-position-y: bottom;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
z-index: -1; 

    
}

.website_title_container{

    justify-content: center;
    align-items: center;
    display: flex;

    /* height: 6rem; */
    position: relative;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.website_title{
    /* color: black;
    font-size: 4rem;
    font-weight: 900;
    font-family: 'Copperplate, Papyrus, fantasy';
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */


    /* new css */
    text-align: center;
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.website_title_container p{
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
}
.website_title_container img{
    height: 100%;
    background-size: cover;
    background-position: center;
}
/* homepage title ends */


/* sholks start */

#quote-container {
    /* max-width: 600px; */
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}


/* .shloks{
    position: relative;
    width: 100%;
    height: max-content;
    padding: 2rem 0;
    background-color: #fff;
} */

.sholk_container{
    background-color: #fff;
    position: relative;
    width: 100%;
    height: max-content;
    margin: auto;
}

.shlok_heading{
    text-align: center;
    color: #F26D21
}

/* sholk ends */


/* highlights start */

/* card hightlights starts */
.highlights{
    width: 100%;
    z-index: 3;
    background-color:#fff;
}
.cardContainer{
    perspective: 1000px;
    justify-content: center;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
        column-gap: 3rem;
    width: 90%;
    margin: auto;
    padding-bottom: 4rem;
}

.highlights_title{
    padding: 2rem 0;
    text-align: center;
    color: #F26D21
}

.highlights_cards{
    width: 15rem;
    
}

.highlights_links{
    text-decoration: none;
    position: relative;
    width: 20rem;
    margin: auto;
}
a{
    text-decoration: none;
    
}
.left_card,.right_card{
    transition: all ease 0.5s;
}
.left_card:hover{
    text-decoration: none;
    transform: rotateY(45deg);

}
.right_card:hover{
    transform: rotateY(-45deg);

}
.total_card{
    transform-origin: right center;
    /* transform: rotateY(45deg); */
    position: relative;
    box-shadow: 0px 0px 19px 8px rgba(0, 0, 0, 0.2);
    height: 21rem;
    width: 100%;
    /* height: 17rem; */
    /* overflow: hidden; */
    /* top: 0; */
    /* z-index: 1; */
    transition: all ease 2s;
    /* margin: auto; */
    
}


.card-img-top{
    
    position: relative;
    margin: auto;
    display: block;
    height: 100%;
    z-index: 1; 
    transition: all ease 2s;
    width: 100%;
    justify-self: center;
}

.card_body{
    
    margin: auto;
    z-index: 2;
    width: 100%;
    position: relative;
    bottom: 0;
    /* top: 100%; */
    overflow: hidden;
    width: 17rem;
    height: 0;
    transition: all ease .5s;
    
}
.total_card:hover .card_body{
    padding: 2.5rem 1rem;
    z-index: 1;
    height: 100%;
    text-decoration: none;
    width: 100%;
    bottom: 100%;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    
}
.total_card:hover a{
    text-decoration: none;
}
.card_heading{
    text-decoration: none;
    text-align: center;
}

/* card highlights ends */

/* slider starts */

.carousel-item{
    position: relative;
    
}

.festivals{
    width: 100%;
    background-color: #fff;
}

.festival_heading{
    color: #F26D21;
    text-align: center;
    margin-bottom: 1rem;
}
.festival_readMore{
    padding: 0.2rem;
    background-color: #fff;
    text-decoration: none;
    color: black;
    border-radius: 5px;
}
.carouselExampleIndicators{
    width: 90%;
    margin: auto;
    z-index: 6;
}
.festival_container{
    width: 90%;
    margin: auto;
    padding-bottom: 2rem;
    

}
.carouselExampleIndicators{
    width: 100%;
    border: 2px solid darkgoldenrod;
}


.image_container{
    box-shadow: 0px 19px 20px rgba(0, 0, 0, 0.2);
    border: 2px solid darkgoldenrod;
    height: 70vh;
    /* height: max-content; */
}
.slider_img{
    height: 100%;
}
.carousel-inner{
    box-shadow: 0px 19px 20px rgba(0, 0, 0, 0.2);

}

.carousel-caption{
    z-index: 5;
}

/* slider ends */



/* hightlights ends */

/* about starts */

.about{
    width:100%;
    height: max-content;
    background-color: #eddcaf;
}

.about_container{
    position: relative;
    width: 90%;
    margin: auto;
}
.about_heading{
    color: #F26D21;
    padding-top: 2rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    
    
}

.about_heading h2{
    
    font-size: 2.5rem;
}
.college_heading,
.department_heading{
    width: fit-content;
    padding: 0.8rem 0.8rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    background-color: #e4a932;
    margin-top: 2rem;

}
.college_details,
.department_details{
    text-align: justify; 
    margin-top: 1rem;   
}



/* about ends */



/* footer starts */

footer{
    padding-top: 1.5rem;
    width: 100%;
    background-color:#eddcaf ;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.footer_container{
    box-shadow: 0px -2px 8px rgba(0,0,0,0.7);
    /* border-top-right-radius: 4rem;
    border-top-left-radius: 4rem; */
    padding-top: 2rem;
    width: 100%;
    text-align: center;
    background-color: #f3c15e;
    background-color: linear ;
}

.footer_college h4{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.footer_college h5{
    padding-top: 1rem;
}

.developers_details h4{
    padding-top: 1rem;
    font-size: 1.5rem;
}
.developers_details h3{
    font-size: 1.2rem;
}
.names{
    justify-content:space-evenly;
    width: 70%;
    margin: auto;
    display: flex;
}

.individual_name img{
    position: relative;
    width: 25%;
    height: 25%;
    transition: all ease 0.2s;
}

.individual_name img:hover{
    transform: translateY(-7px);
}
/* footer ends */




@media  screen and (min-width:720px)and (max-width:900px){
    .highlights_links{
        width: 12rem;
        height: 14rem;
    }
    .total_card{
        height: 100%;
    }
}
@media  screen and (min-width:901px)and (max-width:1070px){
    .highlights_links{
        width: 16rem;
        height: 16rem;
    }
    .total_card{
        height: 100%;
    }
}


@media  screen and (min-width:586px)and (max-width:720px){
    .cardContainer{
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }
    .highlights_links{
        width: 18rem;
        height: 16rem;
    }
    .total_card{
        height: 100%;
    }
}

@media  screen and (max-width:587px){
    .highlights_links{
        width: 12rem;
        height: 14rem;
    }
    .cardContainer{
        grid-template-columns: 1fr;
        row-gap: 1.2rem;
    }
    .total_card{
        height: 100%;
    }
}

@media  screen and (max-width:587px){
    .navbar{
        height: max-content;
    }
    .title{
        font-size: 1.4rem;
    }
    .developers_details h4{
        font-size: 1rem;
    }
    .developers_details h5{
        font-size: 0.7rem;
    }
}
.chat-container {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 50px;
    z-index: 999;
    max-width: 500px;
    border: 5px solid #007780;
    border-radius: 5px;
    padding: 10px;
    background-color: #dbf2fb;
}

.chat-box {
    overflow-y: scroll;
    max-height: 300px;
}

.chat-bot, .user {
    margin: 10px 0;
}

.chat-bot p {
    background-color:#824401 ;
    border: 2px solid #ffda62 ;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    max-width: 80%;
}

.user p{
    background-color:#377b00 ;
    border: 2px solid #003c3e ;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    max-width: 80%;
}
.user {
    text-align: right;
}

input[type="text"] {
    width: calc(100% - 60px);
    padding: 10px;
}

.chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
#toggle-chat {
    position: fixed;
    bottom: 20px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    z-index: 9999; /* Ensure it's on top of other content */
    cursor: pointer; /* Change cursor to pointer */
}