
    <!-- log in  -->
    <section class="login">

   
<h4><b>LogIn form</b></h4>



 <form action="/admin" method="post" class="loginForm">

    <label for="username"><b>Username:</b></label>
    <input type="text" placeholder="Username" name="username" class="username_input">
    <label for="password" ><b>Password:</b></label>
    <input type="password" placeholder="Password" name="password" class="password_input">
    <input type="submit" value="Login" class="login-btn">

</form> 
</section>
<!-- registration form -->
<!-- <h4>Register form</h4> -->
<!-- <form action="/admin/register" method="post" style="border: 2px solid red;">

    <label for="username">Username</label>
    <input type="text" placeholder="Username" name="username">
    <label for="password" >Password</label>
    <input type="password" placeholder="Password" name="password">
    <input type="submit" value="register" class="btn">

</form> -->

<!-- <h3>signIn</h3> -->

